*  {
    margin: 0;
    padding: 2;
    background-color: 003333;
    color:999999 ;  
   }

   body {
        
        background-color: #0E1818;
        font-family: Verdana,Arial,Helvetica,sans-serif;
        font-size: 10.5px;
        border:1px;
        background-color: 003333;

        }

    footer
    {
       vertical-align:bottom;
       padding-bottom: 1px;

    }
    
    #top
    {
     display: -webkit-flex;
     display: flex;
     display:flexbox;
     display:box;
    -webkit-flex:initial;
    flex:auto;
    max-width:2000px ;
    max-height: 300px;
    vertical-align: top;
    border-radius:8px;
    border :solid  1px #C0C0C0;

    }

    #logo
    {
    display: -webkit-flex;
    display: flex; 
    padding-left:1px;
    max-width: 440px;
    max-height: 230px;

    }

    
    article

   {
    display: webkit-flex;
    border:solid 2px;
    border-color: #C0C0C0;
    border-radius:8px; 
    background-repeat:repeat; 
    width:60px; 
    height:525px;
    background-color: 003333;
    border-style:groove; 
    position:center;
    vertical-align: center;
    padding-left: 2px;

    }
     
     h2
     {

         
     font-family: Verdana,Arial,Helvetica,sans-serif;
     font-size: 8px;

     }

     h3
     {

     font-family: Verdana,Arial,Helvetica,sans-serif;
     font-size: 8px;
     padding-left: 3px;

     }

     h4
     {
       font-family: Verdana,Arial,Helvetica,sans-serif;
     font-size: 8px;
     padding-left: 10px;
     text-align: left;

     }
     
     h5
     {

       font-family: Verdana,Arial,Helvetica,sans-serif;
     font-size: 8px;
     padding-left:5px;
     text-align: left;
     }
    
    h1
    {
      font-family: Verdana,Arial,Helvetica,sans-serif;
     font-size: 8px;
     text-align: center;
     

    }




    #container

    {
    display: webkit-flex;
    display: flex;
    border:solid 2px;       
    border-radius:8px; 
    border-color: #C0C0C0;
    width:1100px;
    height:525px;
    background-color: #0E1818;
    border-style:groove; 
    position: center;
    vertical-align:center;
    padding-right: 4px;
     color:999999 ; 
     background-position: center;

    

    }

    #circle
    {
       width:33px;
       height:33px;
       border-radius: 50% 50% 50% 50%;
       border-style:ridge;
     
       border-color:999999; 
       background-color: #0E1818;


    }
    #circle1
    {
      width:35px;
       height:35px;
       border-radius: 50% 50% 50% 50%;
       border-style:ridge;
       border-color:999999; 
       background-color:CCFFFF;
       border: 2px;
       

    }
     #circle2
    {
      width:37px;
       height:37px;
       border-radius: 50% 50% 50% 50%;
       border-style:ridge;
       border-color:999999; 
       background-color: 003333;
       border: 2px;
       

    }
     #circle3
    {
       width:37px;
       height:30px;
       border-radius: 50% 50% 50% 50%;
       border-style:ridge;
       border-color:999999; 
       background-color: 003333;
       border: 2px;
       
    }
    #circle4
    {
       width:43px;
       height:40px;
       border-radius: 50% 50% 50% 50%;
       border-style:ridge;
       border-color:999999; 
       background-color: 003333;
       border: 2px;
       

    }
     #circle5
    {
      width:28px;
       height:28px;
       border-radius: 50% 50% 50% 50%;
       border-style:ridge;
       border-color:999999; 
      background-color: 003333;
       border: 2px;
       padding-left: 4px;
       

    }



    #bd 
    {
      
       border :0px;
       border-collapse: collapse;
       border-style:groove;
       

    }
   
   table

   {
    border-spacing: 3px;
    border-radius:12px;
    border-color:999999; 
    
   }


    
   